# dependencies
/node_modules

# build
/dist

# wrangler
/.wrangler

# misc
.DS_Store
*.pem

# build-images.mjs が PNG から生成する WebP
/public/images/

# debug
npm-debug.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# typescript
*.tsbuildinfo
