.root {
  @media (width >= 768px) {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: start;
    gap: 3rem;
    padding: 0 4rem;
  }
}

.gallery {
  min-width: 0;
  align-self: center;

  @media (width >= 768px) {
    align-self: start;
  }
}

.carousel {
  @media (width >= 768px) {
    display: none;
  }
}

.images {
  display: none;

  @media (width >= 768px) {
    display: grid;
    gap: 1.5rem;
  }

  img {
    width: 100%;
    border: 2px solid var(--color-border);
    border-radius: 4px;
  }
}

.container {
  min-width: 0;
  overflow-wrap: anywhere;
  margin-top: 1.5rem;
  padding: 0 1.5rem 1.5rem;

  @media (width >= 768px) {
    margin-top: 0;
    padding: 0 0 1.5rem;
  }
}

.title {
  font-size: 2rem;
  font-weight: 600;
}

.category {
  font-family: var(--font-latin);
  width: fit-content;
  color: var(--color-bg);
  background-color: var(--color-text);
  margin-top: 0.1rem;
  padding: 0 12px;
  border-radius: 8px 6px 4px 4px;
}
