.container {
  margin-top: 1.5rem;
  padding: 0 1rem 1.5rem;

  @media (width >= 768px) {
    padding: 0 3rem 1.5rem;
  }
}

.title {
  font-size: 2rem;
  font-weight: 600;
}

.category {
  font-family: var(--font-poppins);
  width: fit-content;
  color: var(--color-bg);
  background-color: var(--color-text);
  margin-top: 0.1rem;
  padding: 0 12px;
  border-radius: 8px 6px 4px 4px;
}
