.root {
  margin-bottom: 3rem;
}

.header {
  margin: 1rem;
}

.backButton {
  display: block;
  padding: 0.5rem 2rem;
  width: fit-content;
  background-color: var(--color-bg);
  color: var(--color-text);
  border: 1px solid var(--color-border-emphasis);
  border-radius: 16px 8px 8px 8px;
  transition: transform 0.15s ease-out;
}

.backButton:active {
  transform: scale(0.9);
}

.text {
  display: block;
  margin-top: 0.12rem;
}
