.root {
  margin-bottom: 3rem;
}

.header {
  margin: 1.5rem 1rem;
}

.backButton {
  display: flex;
  align-items: center;
  gap: 0.1rem;
  transition: transform 0.15s ease-out;

  svg {
    width: 1.2rem;
    height: 1.2rem;
  }
}

.backButton:active {
  transform: scale(0.9);
}

.text {
  display: block;
  margin-top: 0.12rem;
}
