.root {
  position: relative;
  color: var(--color-text-head);
  font-weight: 500;

  &::after {
    content: "";
    position: absolute;
    inset: 50% 0 auto;
    border-bottom: 1px dashed var(--color-border);
  }
}

.content {
  position: relative;
  z-index: 1;
  padding-right: 1rem;
  background: var(--color-bg);

  svg {
    display: inline-block;
    vertical-align: middle;
  }
}

.ja {
  font-size: 1.25rem;
}

.en {
  font-family: var(--font-latin);
  font-size: 2rem;
}
