.root {
  width: fit-content;
  margin-top: 1rem;
  padding: 0.25rem 1.5rem;
  color: var(--color-text);
  background-color: var(--color-bg);
  border: 1px solid var(--color-border-emphasis);
  border-radius: 12px 6px 6px 6px;
  transition: transform 0.15s ease-out;
  cursor: pointer;
}

.root:active {
  transform: scale(0.9);
}
